@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

body, html {
  font-family: 'Prompt', sans-serif;
  height: 100%;
  margin: 0;
  background: #3e3431;
}

a {
  text-decoration: none !important;
  color: white !important;
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

.go-top {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 14px;
  right: 14px;
  background: #3B3330;
  z-index: 3;
  border-radius: 50px;
  padding: 8px;
}

.go-top img {
  width: 100%;
}

.nav-button {
  display: none;
}

.img-responsive {
  width: 100%;
}

.logo {
  position: absolute;
  width: 100%;
  color: #fff;
}

.logo_img {
  width: 100%;
  position: absolute;
  left: 0; /*half the container width*/
  right: 0;
  top: 10px;
  text-align: center;
  z-index: 2;
}

.logo_img img{
  width: 70px;
}

.logo_nav {
  position: absolute;
  text-align: center;
  list-style-type: none;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  width: 720px;
}

.logo_nav li {
  font-size: 16px;
  display: inline-block;  
  padding: 25px 20px 25px 20px;
  margin-right: 30px;
  z-index: 2;
}

.logo_nav li:nth-child(1) {
  float: left;
}
.logo_nav li:nth-child(2) {
  float: left;
}
.logo_nav li:nth-child(3) {
  float: right;
}
.logo_nav li:nth-child(4) {
  float: right;
}

.logo_nav li:hover {
  background: rgba(59, 51, 48,1);
}

.logo_bg_1 {
  position: absolute;
  width: 100%;
  height: 77px;
  opacity: 0.4;
  background: #3B3330;
  z-index: 1;
}

.logo_bg_2 {
  position: absolute;
  left: 50%; /*half the container width*/
  margin-left: -50px;
  right: 0;
  top: 77px;
  width: 100px;
  height: 165px;
  opacity: 0.4;
  background: #3B3330;
  z-index: 1;
  border-radius: 0 0 50px 50px;
}

.topic-white {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}


.topic-brown {
  margin: 0 auto;
  padding-top: 40px;
  width: 70%;
  text-align: center;
  color: #3B3330;
  padding-bottom: 30px;
  border-bottom: 2px solid #3B3330;
  margin-bottom: 30px;
}

.motto {
  color: white;
  text-shadow: -3px 1px 4px rgba(150, 150, 150, 1);
  font-size: 100px !important;
}

.motto-1 {
  position: absolute;
  right: 0;
  top: 35%;
  left: 50%;
}

.motto-2 {
  position: absolute;
  right: 0;
  top: 55%;
  left: 50%;
}

.motto-3 {
  padding-top: 60px;
}

.motto-4 {
  padding-top: 40px;
}

.home-bg {

  position: relative;
  /* The image used */
  background: #3B3330;
  background-image: url("../img/bg_1.jpg");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.highlight-bg {
  position: relative;
  /* The image used */
  background: #3B3330;

  /* Full height */
  padding-bottom: 50px;
}

.white-bg {
  position: relative;
  /* The image used */
  background: white;

  /* Full height */
  padding-bottom: 50px;
}

.motto-bg {
  position: relative;
  /* The image used */
  background-image: url("../img/bg_2.jpg");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.button-1 {
  color: white;
  position: absolute;
  display: inline-block;
  padding: 20px 40px;
  background: rgba(59, 51, 48,.8);
  margin-left: -91px;
  top: 75%;
  left: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.button-2 {
  color: white;
  display: inline-block;
  padding: 20px 40px;
  background: rgba(59, 51, 48,1); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.container-highlight {  
  padding: 50px;
  background: rgba(255, 255, 255,.5);
}

.footer {
  position: relative;
  /* The image used */
  background-image: url("../img/bg_footer.jpg");

  /* Full height */
  padding: 25px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.hide {
  display: none;
}

.contact-logo {
  text-align: right;
}

.contact-address {
  border-left: 1px solid white;
}

.contact-content {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.slide-indicator {
  display: none;
  text-align: center;
}

.floor-select {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.floor-each {
  width: 100px;
  display: inline-block;
  padding: 6px 16px;
  color: #3B3330;
  border: 1px solid #3B3330;
  margin-bottom: 5px;
  cursor: pointer; 
}

.floor-selected {
  background: #3B3330;
  color: white;
}

.floor-display img {
  max-width: 450px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .motto {
    font-size: 50px !important;
  }

  .motto-1 {
    margin-left: -100px;
    font-size: 50px !important;
    top: 35%;
    left: 50%;
  }

  .motto-2 {
    margin-left: -50px;
    font-size: 50px !important;
    top: 55%;
    left: 50%;
  }

  .motto-3 {
    padding-top: 120px;
  }

  .motto-4 {
    padding-top: 40px;
  }

  .logo_nav {
    display: none;
    text-align: center;
    list-style-type: none;
    margin: 0;
    margin-top: 77px;
    width: 100%;
  }

  .logo_nav li {
    float: none !important;
    font-size: 16px;
    display: block;  
    padding: 25px 20px 25px 20px;
    z-index: 2;
    margin-right: 0;
    background: rgba(59, 51, 48,.8);
  }

  .nav-button {
    display: block;
    position: absolute;
    width: 40px;
    height: 35px;
    right: 12px;
    top: 20px;
    text-align: center;
    z-index: 2;
  }

  .nav-line-1 {
    position: absolute;
    background: #DFC077;
    width: 35px;
    height: 4px;
  }
  .nav-line-2 {
    position: absolute;
    background: #DFC077;
    width: 25px;
    height: 4px;
    left: 10px;
    bottom: 16px;
  }

  .nav-line-3 {
    position: absolute;
    background: #DFC077;
    width: 35px;
    height: 4px;
    bottom: 0;
  }

  .contact-logo {
    text-align: center;
  }

  .contact-address {
    border: none;
  }

  .contact-content {
    text-align: center;
  }

  .slide-indicator {
    display: block;
  }

  .info-detail {
    text-align: center;
  }
}

.hori-container { display: flex; margin-right: 0; align-items: center; justify-content: center;}
.hori-container .sub{
}
.hori { display: flex; overflow-x: auto;}
.hori::-webkit-scrollbar { display: none;}
.hori-card {
  cursor: pointer;
  flex-shrink: 0;
  padding: 15px 0 15px 25px;
}

.hori-card .sub { 
  background: rgba(255, 255, 255,.5);
  border-radius: 50px;
  min-width: 300px;
  margin-top: 30px;
  margin-right: 30px;
}

.sub-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.pad {
  padding: 15px 40px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDownFromTop {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

