@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");
@font-face {
	font-family: Antique;
	src: url("../fonts/Antique.otf");
}

body,
html {
	font-family: "Prompt", sans-serif;
	height: 100%;
	margin: 0;
	background: #3e3431;
}

a {
	text-decoration: none !important;
	color: white !important;
}

a:hover {
	text-decoration: none !important;
	color: white !important;
}

.go-top {
	width: 48px;
	height: 48px;
	position: fixed;
	bottom: 14px;
	right: 14px;
	background: #3b3330;
	z-index: 3;
	border-radius: 50px;
	padding: 8px;
}

.go-top img {
	width: 100%;
}

.nav-button {
	display: none;
}

.img-responsive {
	width: 100%;
}

.logo {
	position: absolute;
	width: 100%;
	color: #fff;
}

.logo_img {
	width: 100%;
	position: absolute;
	left: 0; /*half the container width*/
	right: 0;
	top: 10px;
	text-align: center;
	z-index: 2;
}

.logo_img img {
	width: 70px;
}

.logo_nav {
	position: absolute;
	text-align: center;
	list-style-type: none;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	z-index: 2;
	width: 720px;
}

.logo_nav li {
	font-size: 16px;
	display: inline-block;
	padding: 25px 20px 25px 20px;
	margin-right: 30px;
	z-index: 2;
}

.logo_nav li:nth-child(1) {
	float: left;
}
.logo_nav li:nth-child(2) {
	float: left;
}
.logo_nav li:nth-child(3) {
	float: right;
}
.logo_nav li:nth-child(4) {
	float: right;
}

.logo_nav li:hover {
	background: rgba(59, 51, 48, 1);
}

.logo_bg_1 {
	position: absolute;
	width: 100%;
	height: 77px;
	opacity: 0.4;
	background: #3b3330;
	z-index: 1;
}

.logo_bg_2 {
	position: absolute;
	left: 50%; /*half the container width*/
	margin-left: -50px;
	right: 0;
	top: 77px;
	width: 100px;
	height: 165px;
	opacity: 0.4;
	background: #3b3330;
	z-index: 1;
	border-radius: 0 0 50px 50px;
}

.topic-white {
	padding-top: 40px;
	width: 100%;
	text-align: center;
	color: white;
	margin-bottom: 30px;
}

.topic-brown {
	margin: 0 auto;
	padding-top: 40px;
	width: 70%;
	text-align: center;
	color: #3b3330;
	padding-bottom: 30px;
	border-bottom: 2px solid #3b3330;
	margin-bottom: 30px;
}

.motto {
	color: white;
	text-shadow: -3px 1px 4px rgba(0, 0, 0, 0.5);
	font-size: 100px !important;
}

.motto-1 {
	position: absolute;
	right: 0;
	top: 35%;
	left: 50%;
}

.motto-2 {
	position: absolute;
	right: 0;
	top: 55%;
	left: 50%;
}

.motto-3 {
	font-size: 50px !important;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 35%;
	width: 700px;
	margin: 0 auto;
}

.motto-4 {
	padding-top: 40px;
}

.home-bg {
	position: relative;
	/* The image used */
	background: #3b3330;
	background-image: url("../img/bg_1.jpg");
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.highlight-bg {
	position: relative;
	/* The image used */
	background: #3b3330;

	/* Full height */
	padding-bottom: 50px;
}

.white-bg {
	position: relative;
	/* The image used */
	background: white;

	/* Full height */
	padding-bottom: 50px;
}

.motto-bg {
	position: relative;
	/* The image used */
	background-image: url("../img/bg_2.jpg");

	/* Full height */
	height: 50%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.motto-top {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40%;
}

.button-1 {
	color: white;
	position: absolute;
	display: inline-block;
	padding: 20px 40px;
	background: rgba(59, 51, 48, 0.8);
	margin-left: -91px;
	bottom: 80px;
	left: 50%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	outline: none;
}

.soft-index img {
	width: 100%;
}

.button-1-event a {
	color: #3b3330 !important;
}

.button-2 {
	color: white;
	display: inline-block;
	padding: 20px 40px;
	background: rgba(59, 51, 48, 1);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	outline: none;
}

.container-highlight {
	padding: 50px;
	background: rgba(255, 255, 255, 0.5);
}

.footer {
	position: relative;
	/* The image used */
	background-image: url("../img/bg_footer.jpg");

	/* Full height */
	padding: 25px;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
}

.hide {
	display: none;
}

.contact-logo {
	text-align: right;
}

.contact-address {
	border-left: 1px solid white;
}

.contact-content {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.slide-indicator {
	display: none;
	text-align: center;
}

.floor-select {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.floor-each {
	width: 100px;
	display: inline-block;
	padding: 6px 16px;
	color: #3b3330;
	border: 1px solid #3b3330;
	margin-bottom: 5px;
	cursor: pointer;
}

.floor-selected {
	background: #3b3330;
	color: white;
}

.floor-display img {
	max-width: 450px;
	width: 100%;
}

.metrics-all {
	width: 200px !important;
}

@media only screen and (max-width: 768px) {
	.motto {
		font-size: 50px !important;
	}

	.motto-1 {
		margin-left: -100px;
		font-size: 50px !important;
		top: 35%;
		left: 50%;
	}

	.motto-2 {
		margin-left: -50px;
		font-size: 50px !important;
		top: 55%;
		left: 50%;
	}

	.motto-3 {
		font-size: 40px !important;
		left: 0;
		right: 0;
		bottom: 25%;
		width: 300px;
		margin: 0 auto;
	}

	.motto-4 {
		padding-top: 40px;
	}

	.logo_nav {
		display: none;
		text-align: center;
		list-style-type: none;
		margin: 0;
		margin-top: 77px;
		width: 100%;
	}

	.logo_nav li {
		float: none !important;
		font-size: 16px;
		display: block;
		padding: 25px 20px 25px 20px;
		z-index: 2;
		margin-right: 0;
		background: rgba(59, 51, 48, 0.8);
	}

	.nav-button {
		display: block;
		position: absolute;
		width: 40px;
		height: 35px;
		right: 12px;
		top: 24px;
		text-align: center;
		z-index: 2;
	}

	.nav-line-1 {
		position: absolute;
		background: #dfc077;
		width: 35px;
		height: 4px;
	}
	.nav-line-2 {
		position: absolute;
		background: #dfc077;
		width: 25px;
		height: 4px;
		left: 10px;
		bottom: 20px;
	}

	.nav-line-3 {
		position: absolute;
		background: #dfc077;
		width: 35px;
		height: 4px;
		bottom: 8px;
	}

	.contact-logo {
		text-align: center;
	}

	.contact-address {
		border: none;
	}

	.contact-content {
		text-align: center;
	}

	.slide-indicator {
		display: block;
	}
}

.hori-container {
	display: flex;
	margin-right: 0;
	align-items: center;
	justify-content: center;
}
.hori-container .sub {
}
.hori {
	display: flex;
	overflow-x: auto;
}
.hori::-webkit-scrollbar {
	display: none;
}
.hori-card {
	cursor: pointer;
	flex-shrink: 0;
	padding: 15px 0 15px 25px;
}

.hori-card .sub {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	width: 360px;
	margin-top: 30px;
	margin-right: 30px;
}

.sub-shadow {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.pad {
	padding: 15px 40px;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideDownFromTop {
	0% {
		transform: translateY(-100%);
	}
	70% {
		transform: translateY(20%);
	}
	100% {
		transform: translateY(0);
	}
}

.gallery-container {
	display: flex;
	margin-right: 0;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.demo-gallery {
	display: flex;
	overflow-x: auto;
}
.demo-gallery::-webkit-scrollbar {
	display: none;
}

.demo-gallery > ul {
	margin-bottom: 0;
	cursor: pointer;
	flex-shrink: 0;
	padding: 15px 25px;
}
.demo-gallery > ul > li {
	float: left;
	width: 200px;
	height: 100px;
}
.demo-gallery > ul > li a {
	border: 3px solid #fff;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
}
.demo-gallery > ul > li a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
	height: 48px;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery.dark > ul > li a {
	border: 3px solid #04070a;
}
.home .demo-gallery {
	padding-bottom: 80px;
}

.paver__fallbackMessage {
	text-align: center;
	margin-top: 15px;
}

.sign-up-form {
	text-align: center;
}

.sign-up-form h5,
.sign-up-form h6 {
	color: #dcbd76;
	margin-bottom: 15px;
}

.sign-up-form form {
	margin-bottom: 30px;
	text-align: center;
}

.sign-up-form select,
.sign-up-form input,
.sign-up-form input:focus {
	display: block;
	border-radius: 0 !important;
	border: 2px solid #dcbd76;
	background-color: rgba(59, 51, 48, 0.5);
	color: white;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 8px 15px;
	margin-bottom: 1em;
}

textarea,
select,
input,
button {
	outline: none;
}

.sign-up-form input::placeholder {
	color: white;
}
.sign-up-form input:-ms-input-placeholder,
.sign-up-form input::-ms-input-placeholder {
	color: white;
}

.sign-up-form input[type="submit"] {
	border-radius: 0 !important;
	border: 2px solid #dcbd76;
	background: #dcbd76;
	color: white;
	padding: 15px 30px;
}

.form-msg,
.form-msg-2 {
	color: white;
	margin-bottom: 20px;
}

.close-btn {
	border-radius: 0 !important;
	border: 2px solid #3b3330 !important;
	background: #3b3330 !important;
	color: white;
	padding: 15px 30px;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: rgb(59, 51, 48);
	background-color: rgba(59, 51, 48, 0.9);
	overflow-x: hidden;
}

.overlay-content {
	position: relative;
	top: 15%;
	width: 100%;
	text-align: center;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: -17px;
	right: 20px;
	font-size: 60px;
	color: #fff !important;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: -17px;
		right: 15px;
	}
}

/* Event */
.opening-event-bg {
	position: relative;
	/* The image used */
	background: #3b3330;
	background-image: url("../img/event/event-bg.png");
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.under-top {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 32%;
}

.under-logo {
	margin-bottom: 65px;
}

.event-register {
	color: #3b3330;
	position: absolute;
	display: inline-block;
	padding: 15px 40px;
	background: rgb(195, 148, 70);
	background: linear-gradient(
		66deg,
		rgba(195, 148, 70, 1) 31%,
		rgba(246, 233, 132, 1) 100%
	);
	margin-left: -76px;
	bottom: 70px;
	left: 50%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	outline: none;
	font-family: Antique;
}

.event-register a {
	font-size: 23px;
	color: #3b3330 !important;
}

.event-th {
	padding-top: 50px;
	text-align: center;
	color: white;
	font-size: 18px;
}

.event-eng {
	margin-top: 15px;
	text-align: center;
	color: #cfb370;
	font-size: 20px;
	font-family: Antique;
}

.soft-opening-schedule {
	width: 90%;
	height: auto;
}

.event-table {
	text-align: center;
	border: none;
	color: #cfb370;
	font-family: Antique;
	font-size: 18px;
}

.table-bordered thead td,
.table-bordered thead th,
.table-bordered td {
	border-color: #cfb370;
}

.table-bordered thead th {
	border-right: none;
}

.table-bordered td,
.table-bordered th {
	border-left: none;
}

.table-bordered td:nth-child(3),
.table-bordered th:nth-child(3) {
	border-right: none;
}

.table-bordered thead td,
.table-bordered thead th,
.table-bordered td {
	border-top: none;
	border-color: white;
}

.table-bordered thead td,
.table-bordered thead th {
	border-bottom-width: 1px;
}
.event-detail-bg {
	position: relative;
	/* The image used */
	background: #4a413f;

	/* Full height */
	padding-bottom: 20px;
}

.dress-code {
	color: #cfb370;
	font-family: Antique;
	font-size: 18px;
}

.myschedule {
	text-align: center;
}

.myschedule h5 {
	color: #cfb370;
	margin-bottom: 15px;
	font-family: Antique;
	font-size: 24px;
}

.mymap {
	width: 500px;
	height: auto;
}

.separator {
	display: none;
}

.event-register-popup {
	font-family: Antique;
	color: #3b3330;
	display: inline-block;
	padding: 8px 25px;
	background: rgb(195, 148, 70);
	background: linear-gradient(
		66deg,
		rgba(195, 148, 70, 1) 31%,
		rgba(246, 233, 132, 1) 100%
	);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	outline: none;
	margin-top: 30px;
}

.event-register-popup a {
	font-size: 22px;
	color: #3b3330 !important;
}

.under-logo-popup {
	width: 100%;
	max-width: 250px;
	margin-bottom: 50px;
}

.soft-opening-popup {
	width: 100%;
	max-width: 500px;
	margin-bottom: 0px;
}

.event-th-popup {
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	color: white;
	font-size: 18px;
	max-width: 500px;
}

.event-eng-popup {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	color: #cfb370;
	max-width: 500px;
	font-family: Antique;
	font-size: 20px;
}

.button-1-event {
	color: white;
	position: absolute;
	display: inline-block;
	padding: 20px 40px;
	background: rgb(195, 148, 70);
	background: linear-gradient(
		66deg,
		rgba(195, 148, 70, 1) 31%,
		rgba(246, 233, 132, 1) 100%
	);
	margin-left: -115px;
	bottom: 80px;
	left: 50%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	outline: none;
}

.soft-index {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	bottom: 170px;
}

.close-text {
	margin-top: 15px;
	color: white;
}

@media only screen and (max-width: 768px) {
	.under-logo {
		width: 100%;
		max-width: 260px;
	}
	.soft-opening {
		width: 100%;
		max-width: 350px;
	}

	.event-th {
		padding-top: 50px;
		text-align: center;
		color: white;
		font-size: 15px;
	}

	.event-eng {
		margin-top: 30px;
		text-align: center;
		color: #cfb370;
		font-size: 19px;
	}

	.myschedule {
		margin-top: 30px;
	}

	.opening-form {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.mymap {
		width: 100%;
		height: auto;
	}

	.myschedule {
		font-size: 15px;
	}

	.opening-form {
		font-size: 15px;
	}

	.ggmap {
		height: 200px;
	}

	.separator {
		display: none;
	}

	.event-register-popup {
		color: #3b3330;
		display: inline-block;
		padding: 8px 25px;
		background: rgb(195, 148, 70);
		background: linear-gradient(
			66deg,
			rgba(195, 148, 70, 1) 31%,
			rgba(246, 233, 132, 1) 100%
		);
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		outline: none;
		margin-top: 30px;
	}

	.event-register-popup a {
		font-size: 22px;
		color: #3b3330 !important;
	}

	.under-logo-popup {
		width: 100%;
		max-width: 200px;
		margin-bottom: 50px;
	}

	.soft-opening-popup {
		width: 100%;
		max-width: 350px;
		margin-bottom: 0px;
	}

	.event-th-popup {
		margin: 0 auto;
		padding-top: 30px;
		text-align: center;
		color: white;
		font-size: 15px;
	}

	.event-eng-popup {
		margin: 0 auto;
		margin-top: 10px;
		font-size: 17px;
	}

	.soft-index {
		position: absolute;
		left: 50%;
		margin-left: -160px;
		width: 100%;
		width: 320px;
	}
}

@media only screen and (max-width: 350px) {
	.motto {
		font-size: 30px !important;
	}

	.soft-index {
		width: 280px;
		margin-left: -140px;
		bottom: 120px;
	}

	.button-1-event {
		padding: 10px 20px;
		bottom: 40px;
		margin-left: -95px;
	}

	.event-register-popup {
	}

	.event-register-popup a {
		font-size: 18px;
	}

	.under-logo-popup {
		margin-bottom: 30px;
	}

	.overlay-content {
		top: 12%;
	}
}

.table td,
.table th {
	vertical-align: middle;
}
